body {
  padding:0;
  margin:0;
  font-size:16px;
  color:#333;
  font-family: consolas;
  line-height:1.5em;

  h2 {
    font-size:24px;
  }

  hr {
    display:block;
    height:3px;
    border-radius:3px;
    background-color:#eee;
    border:0 none;
  }
}

body {
  .head {
    background-color:#F5F5F5;
    height:50px;
    .title {
      height:50px;line-height:50px;
      font-size:18px;
      font-family: consolas;
      color:#555;
      padding:0 0 0 20px;
    }
  }

  .pager {
    .prev{float:left;}
    .next{float:right;}

    .prev, .next {
      width:48px;height:48px;
      text-align:center;
      background-color:rgba(#05B2D2, 0.2);
      margin:20px;
      border-radius:50px;
      i {
        color:#666;
        font-size:36px;line-height:48px;
        text-align:center;
        color:#05B2D2;
      }

      cursor:pointer;

      &:hover {
        background-color:#05B2D2;
        i {color:white;}
      }

      &.disabled {
        background-color:#E0E0E0;
        i {color:#6B6B6B;}
        cursor:default !important;
      }
    }
    .prev i{margin-right:3px;}
    .next i{margin-left:3px;}
  }

  .document{
    // background-color:#000;
    position:absolute;
    top:50px;
    left:88px;right:88px;
    bottom:0;

    .p {
      position:absolute;
      top:0;bottom:0;left:0;
      right:50%;
      .play {
        margin:30px;
      }
    }

    .d {
      position:absolute;
      top:0;bottom:0;right:0;
      left:50%;
      .desc {
        margin:30px;
      }
    }
  }

  code {
    font-family: consolas !important;
    padding:10px;
    border-radius:3px;
    display:block;
    margin-bottom:20px;
    margin-top:10px;
  }
}


.play.chapter1 {
  .font-arial{font-size:40px;font-family:arial;margin-bottom:30px;}
  .font-consolas{font-size:40px;font-family:consolas;margin-bottom:30px;}
  .font-impact{font-size:40px;font-family:impact;margin-bottom:30px;}
  .font-times{font-size:40px;font-family:'times new roman';margin-bottom:30px;}
  .font-helvetica{font-size:40px;font-family:helvetica;margin-bottom:30px;}
  .font-tahoma{font-size:40px;font-family:tahoma;margin-bottom:30px;}

  .font-song{font-size:40px;font-family:宋体;margin-bottom:30px;}
  .font-hei{font-size:40px;font-family:黑体;margin-bottom:30px;}
  .font-yahei{font-size:40px;font-family:微软雅黑;margin-bottom:30px;}

  .image {
    position:relative;
    img {
      width:100%;
      padding:2px;
      border:solid 1px #eee;
      box-sizing: border-box;
    }
    .idesc {
      position:absolute;
      color:white;
      background-color:rgba(black, 0.8);
      padding:5px 20px;
      bottom:0;right:0;left:0;
    }

    &.p40 {
      width:40%;
      margin-right:5%;
      float:left;
      &.clear {
        clear:both;
      }
    }

    &.max100 {
      img {
        max-width: 100%;
        width:auto;
      }
    }
  }
}